.container {
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  margin: 0 auto;
}

.rating {
  display: inline-block;
}

.star {
  font-size: 40px;
  color: #ccc;
  cursor: pointer;
}

.star:hover, .star.active {
  color: yellow;
}

textarea {
  width: 300px;
  height: 100px;
  margin-top: 20px;
}

#submitBtn {
  margin-top: 10px;
  padding: 10px 20px;

}