<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="FreeBoardMapper">
 	<resultMap type="kr.co.pdpdmall.freeBoard.domain.FreeBoard" id="freeBoardResultMap">
 		<id property="freeBoardNo" column="FREEBOARD_NO" />
 		<result property="freeBoardTitle" column="FREEBOARD_TITLE" />
 		<result property="freeBoardContent" column="FREEBOARD_CONTENT" />
 		<result property="freeBoardWriter" column="FREEBOARD_WRITER" />
 		<result property="viewCount" column="VIEW_COUNT" />
 		<result property="rcmndCount" column="RCMND_COUNT" />
 		<result property="freeBoardDate" column="FREEBOARD_DATE" />
 		<result property="updateDate" column="UPDATE_DATE" />
		<result property="freeBoardFilename" column="FREEBOARD_FILENAME"/>
		<result property="freeBoardFilepath" column="FREEBOARD_FILEPATH"/>
		<result property="freeBoardFilelength" column="FREEBOARD_FILELENGTH"/> 		
 	</resultMap>
 
  	<insert id="insertFreeBoard" >
 		INSERT INTO FREEBOARD_TBL VALUES(SEQ_FREEBOARDNO.NEXTVAL,#{freeBoardTitle},#{freeBoardContent},#{freeBoardWriter},DEFAULT,DEFAULT,DEFAULT,DEFAULT, #{freeBoardFilename}, #{freeBoardFilepath}, #{freeBoardFilelength})
 	</insert>
 	
 	<update id="updateFreeBoard">
 		UPDATE FREEBOARD_TBL SET FREEBOARD_TITLE=#{freeBoardTitle}, FREEBOARD_CONTENT=#{freeBoardContent}, FREEBOARD_FILENAME=#{freeBoardFilename}, FREEBOARD_FILEPATH=#{freeBoardFilepath}, FREEBOARD_FILELENGTH=#{freeBoardFilelength}  WHERE FREEBOARD_NO=#{freeBoardNo}
 	</update>
 	
 	<delete id="deleteFreeBoard">
 		DELETE FROM FREEBOARD_TBL WHERE FREEBOARD_NO=#{freeBoardNo}
 	</delete>
 
 	<select id="selectFreeBoardList" resultMap="freeBoardResultMap">
		SELECT * FROM FREEBOARD_TBL ORDER BY FREEBOARD_NO DESC
	</select>
	
	 <select id="selectOneByNo" resultMap="freeBoardResultMap">
		SELECT * FROM FREEBOARD_TBL WHERE FREEBOARD_NO = #{freeBoardNo}
	</select>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM FREEBOARD_TBL
	</select>	
	
	<select id="searchByKeyword" resultMap="freeBoardResultMap">
		SELECT * FROM FREEBOARD_TBL
		<if test="searchCondition == 'all'">
		WHERE FREEBOARD_TITLE LIKE '%'||#{searchKeyword}||'%' OR FREEBOARD_CONTENT LIKE '%'||#{searchKeyword}||'%' OR FREEBOARD_WRITER LIKE '%'||#{searchKeyword}||'%'		
		</if>
		<if test="searchCondition == 'wirter'">
		WHERE FREEBOARD_WRITER LIKE '%'||#{searchKeyword}||'%'		
		</if>
		<if test="searchCondition == 'title'">
		WHERE FREEBOARD_TITLE LIKE '%'||#{searchKeyword}||'%'	
		</if>
		<if test="searchCondition == 'content'">
		WHERE FREEBOARD_CONTENT LIKE '%'||#{searchKeyword}||'%'		
		</if>
	</select>	
	
	
	<select id="selectListByKeywordCount" resultType="_int">
		SELECT COUNT(*) FROM FREEBOARD_TBL
		<if test="searchCondition == 'all'">
		WHERE FREEBOARD_TITLE LIKE '%'||#{searchKeyword}||'%' OR FREEBOARD_CONTENT LIKE '%'||#{searchKeyword}||'%' OR FREEBOARD_WRITER LIKE '%'||#{searchKeyword}||'%'		
		</if>
		<if test="searchCondition == 'wirter'">
		WHERE FREEBOARD_WRITER LIKE '%'||#{searchKeyword}||'%'		
		</if>
		<if test="searchCondition == 'title'">
		WHERE FREEBOARD_TITLE LIKE '%'||#{searchKeyword}||'%'	
		</if>
		<if test="searchCondition == 'content'">
		WHERE FREEBOARD_CONTENT LIKE '%'||#{searchKeyword}||'%'		
		</if>
	</select>	
	
 </mapper>