<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.pdpdmall.member.domain.Member" alias="Member"/>
		<typeAlias type="kr.co.pdpdmall.freeBoard.domain.FreeBoard" alias="FreeBoard" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/freeBoard-mapper.xml" />
	</mappers>
</configuration>
