<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
	<typeAliases>
		<typeAlias type="kr.co.pdpdmall.member.domain.Member" alias="Member"/>
		<typeAlias type="kr.co.pdpdmall.freeBoard.domain.FreeBoardReply" alias="Reply" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/freeBoard-mapper.xml" />
		<mapper resource="mappers/reply-mapper.xml" />
	</mappers>
</configuration>
