.member-form {
    margin: 20px;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
        
form ul {
    list-style-type: none;
    margin : 0;
    padding : 0;
}
form ul>li {
    line-height: 2;
    display: flex;
    flex-direction: column;
}

form>ul>li>input {
    width: 300px;
    height: 25px;
}

.addressClass {
	width: 70px;
	height: 25px;
}

.address {
	width: 215px;
	height: 25px;
}

form>ul>li>label {
    width : 200px;
    float : left;
}

.top {
    display: flex;
    align-items: center;
}

.top img {
    width: 60px;
    height: 50px;
}

.form-btn {
    display: flex;
    justify-content: center;
    padding-top : 20px;
}

.form-btn input {
    border : 1px solid #ccc;
    padding : 10px;
    margin : 0 10px;
    width: 100px;
    background-color: skyblue;
    color: #fff;
    border-radius: 5px;
}

.message { 
    color : blue;
}


#post-1 {
    width: 140px;
    height: 25px;
}
#post-2 {
    width: 140px;
    height: 25px;
}


#message {
    width: 100%;
    height: 200px;
}


ul>li>div>input {
    width: 300px;
    height: 25px;
}

ul>li>div>button {
    color: #333;
    height: 30px;
}