<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../resources/css/member/findIdPassword.css">
        <link rel="stylesheet" href="../../resources/css/reset.css">
    <title>아이디 및 비밀번호 찾기</title>
    </head>
    <body>
        <div id="container">
            <header>

            </header>
            <main>
                <section class="top">
                    <div class="topDiv">
                        <img src="../../resources/images/components/logoimage2.png" alt="">
                        <h3>아이디 및 비밀번호 찾기</h3>
                    </div>
                    <div>
                        <button onclick="showPhoneVerification()">휴대폰 인증</button>
                        <button onclick="showEmailVerification()">이메일 인증</button>
                    </div>
                </section>
                <section class="mid">
                    <div id="phoneVerification" class="hidden">
                        <h2>휴대폰 인증</h2>
                        <form class="verification-form"  onsubmit="event.preventDefault();">
                            <label for="phoneNumber">휴대폰 번호:</label>
                            <input type="text" id="phoneNumber" name="phoneNumber">
                            <br>
                            <button onclick="sendVerificationCode()">발송</button>
                            <br>
                            <label for="verificationCode">인증 코드:</label>
                            <input type="text" id="verificationCode1" name="verificationCode">
                            <br>
                            <button onclick="verifyPhone()">인증하기</button>
                        </form>
                    </div>
                    <div id="emailVerification" class="hidden">
                        <h2>이메일 인증</h2>
                        <form class="verification-form" onsubmit="event.preventDefault();">
                            <label for="email">이메일 주소:</label>
                            <input type="text" id="email" name="email">
                            <br>
                            <button onclick="sendVerificationEmail()">발송</button>
                            <br>
                            <label for="verificationCode">인증 코드:</label>
                            <input type="text" id="verificationCode2" name="verificationCode">
                            <br>
                            <button onclick="verifyEmail()">인증하기</button>
                        </form>
                    </div>
                </section>
            </main>
            <footer>

            </footer>
        </div>
        <script>
            function loadHTML(url, element) {
                const xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState === 4 && this.status === 200) {
                        const content = this.responseText;
                        element.innerHTML = content;

                        const scriptTags = element.getElementsByTagName("script");
                        for (var i = 0; i < scriptTags.length; i++) {
                            eval(scriptTags[i].innerText);
                        }
                    }
                };
                xhttp.open("GET", url, true);
                xhttp.send();
            }

            document.addEventListener("DOMContentLoaded", function() {
                const headerElement = document.querySelector("header");
                loadHTML("../components/header.html", headerElement);

                const footerElement = document.querySelector("footer");
                loadHTML("../components/footer.html", footerElement);
            });

            
            function showPhoneVerification() {
            document.getElementById('phoneVerification').classList.remove('hidden');
            document.getElementById('emailVerification').classList.add('hidden');
        }
        
        function showEmailVerification() {
            document.getElementById('emailVerification').classList.remove('hidden');
            document.getElementById('phoneVerification').classList.add('hidden');
        }

            function sendVerificationCode() {
                if(document.querySelector("#phoneNumber").value !== ""){
                    alert("인증번호를 발송했습니다.");
                    // document.getElementById('phoneVerification').classList.add('hidden');
                }
            }

            function verifyPhone(){
                if(document.querySelector("#verificationCode1").value === ""){
                    alert("인증번호를 입력하세요");
                } else {
                    alert("회원님의 번호로 가입된 아이디는 kh*** 이며, 문자로 임시 비밀번호를 발송했습니다.");
                }
            }



            function sendVerificationEmail() {
                if(document.querySelector("#email").value !== ""){
                    alert("인증메일을 발송했습니다.");
                    // document.getElementById('emailVerification').classList.add('hidden');
                }
            }
            

            function verifyEmail(){
                if(document.querySelector("#verificationCode2").value === ""){
                    alert("인증메일에 적혀있는 코드를 입력하세요");
                } else {
                    alert("회원님의 번호로 가입된 아이디는 kh*** 이며, 이메일로 임시 비밀번호를 발송했습니다.");
                }
            }
            
            
        </script>
    </body>
</html>
